# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/migrations/

# Logs
logs
*.log
npm-debug.log*

# Docker
docker-compose.override.yml

# Editor configs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
